In [ ]:
This notebook retrives information (like beats, tempo) about the music using librosa

In [3]:
import os
import subprocess
import pandas as pd
import glob

import numpy, scipy, matplotlib.pyplot as plt, IPython.display as ipd
import librosa, librosa.display
from ipywidgets import interact

In [4]:
!pwd

/Users/Amulya/workspace/Fastai/MusicMoodClassification

In [5]:
audio_info_df = pd.read_csv('ten_sec_audio_analysis_df.csv', index_col = 0)

In [6]:
audio_info_df.head()

               yid    size   rate
0  CgCBHTl1BB0.wav  220500  22050
1  2m4U-85oCF4.wav  220500  22050
2  -fA_oNSeikM.wav  220500  22050
3  cmad0TBd_KE.wav  220500  22050
4  5cxG7j3q2F4.wav  220500  22050

In [7]:
# Append a column YTID thats just the youtube id. yid without .wav
audio_info_df['YTID'] = audio_info_df['yid'].apply(lambda x: str(x).split('.')[0])

In [48]:
#audio_info_df = audio_info_df.append({'YTID':(audio_info_df['yid'].iloc[1])[:-4]}, ignore_index=True) # wrong
#(audio_info_df['yid'].iloc[0])[:-4] # 'CgCBHTl1BB0'
#for i in len(audio_info_df):
#audio_info_df = audio_info_df.append({'YTID': audio_info_df.yid.iloc[i][:-4]}, ignore_index=True)

In [8]:
audio_info_df.head(5)

               yid    size   rate         YTID
0  CgCBHTl1BB0.wav  220500  22050  CgCBHTl1BB0
1  2m4U-85oCF4.wav  220500  22050  2m4U-85oCF4
2  -fA_oNSeikM.wav  220500  22050  -fA_oNSeikM
3  cmad0TBd_KE.wav  220500  22050  cmad0TBd_KE
4  5cxG7j3q2F4.wav  220500  22050  5cxG7j3q2F4

In [66]:
#Check if any value of yid is not string
x = audio_info_df['yid']
x[x.apply(type) != str].any()

False

In [7]:
print(audio_info_df.size)
audio_info_df.shape

40584

(10146, 4)

## Lets try to combine clips_metadata.csv and audio_info_df.csv cos we need one df that has both file name and ytid and music_class information


clips_metadata has clips shorter than 10 seconds. audio_info_df has only 10s clips. The difference is 300something. So while joining, join based on audio_info_df

In [9]:
## Lets try to combine clips_metadata.csv and audio_info_df.csv
clips_metadata_df = pd.read_csv('clips_metadata', sep =' ')

In [10]:
clips_metadata_df = clips_metadata_df.drop(columns=['start_seconds','end_seconds','positive_labels','type'])

In [11]:
clips_metadata_df.head()

          YTID  Happy  Funny  Sad  Tender  Angry  Scary
0  --3flh9REUI      0      0    0       1      0      0
1  --CZ-8vrQ1g      1      0    0       0      0      0
2  --K3100xfu8      0      0    1       0      0      0
3  --WKv2SmvO8      0      0    0       0      0      1
4  --ip67RoGwo      0      0    1       0      0      0

In [12]:
print(clips_metadata_df.size, clips_metadata_df.shape)#73143, (10449, 7)
print(audio_info_df.size, audio_info_df.shape)#30438, (10146, 3)

73143 (10449, 7)
40584 (10146, 4)

In [13]:
#result = pd.merge(audio_info_df, clips_metadata_df, how = 'left', left_on = audio_info_df.yid[:-4] , right_on = 'YTID')

audio_info_df = pd.merge(audio_info_df, clips_metadata_df, how='left', on=['YTID'])
audio_info_df.head()

,yid,size,rate,YTID,Happy,Funny,Sad,Tender,Angry,Scary
0,CgCBHTl1BB0.wav,220500,22050,CgCBHTl1BB0,1,0,0,0,0,0
1,2m4U-85oCF4.wav,220500,22050,2m4U-85oCF4,0,0,0,0,1,0
2,-fA_oNSeikM.wav,220500,22050,-fA_oNSeikM,0,0,0,1,0,0
3,cmad0TBd_KE.wav,220500,22050,cmad0TBd_KE,0,0,1,0,0,0
4,5cxG7j3q2F4.wav,220500,22050,5cxG7j3q2F4,0,0,0,1,0,0

In [14]:
audio_info_df.shape

(10146, 10)

## Retrieve Music Information

In [ ]:
#tempo, beat_times = librosa.beat.beat_track(x, sr=ample_rate, start_bpm=30, units='time') # start_bpm = initial guess for the tempo estimator (in beats per minute)

In [15]:
from pathlib import Path 
audio_path = Path('/Users/Amulya/workspace/Fastai/MusicMoodClassification/google_audioset/')

In [16]:
tempogram_path = Path('/Users/Amulya/workspace/Fastai/MusicMoodClassification/tempogram/')
tempogram = Path('/Users/Amulya/workspace/Fastai/MusicMoodClassification/tempogram/')
if tempogram.exists()==False:
    tempogram.mkdir()

In [75]:
#TESTING
tempogram_test_path = Path('/Users/Amulya/workspace/Fastai/MusicMoodClassification/tempogram_test/')
tempogram_test = Path('/Users/Amulya/workspace/Fastai/MusicMoodClassification/tempogram_test/')
if tempogram_test.exists()==False:
    tempogram_test.mkdir()

In [53]:
def tempogram(audio_file_name):
    fpath = Path(str(audio_path) + '/' + audio_file_name)
    samples, sample_rate = librosa.load(fpath)
    fig = plt.figure(figsize=[0.92,0.92])
    ax = fig.add_subplot(111)
    
    onset_env = librosa.onset.onset_strength(samples, sr=sample_rate, hop_length=200, n_fft=2048)
    tempogram = librosa.feature.tempogram(onset_envelope=onset_env, sr=sample_rate, hop_length=200, win_length=400)
    librosa.display.specshow(tempogram, sr=sample_rate, hop_length=200, x_axis='time', y_axis='tempo')
    
    ax.axes.get_xaxis().set_visible(False)
    ax.axes.get_yaxis().set_visible(False)
    ax.set_frame_on(False)

    fname = audio_file_name.replace('.wav','.png')
    
    filename  = Path(str(tempogram_path) + '/' + fname)
    plt.savefig(filename, format="png", dpi=400, bbox_inches='tight', pad_inches=0)
    plt.close('all')

In [58]:
processed_files = [f.split('.png')[0] + ".wav"  for f in os.listdir('tempogram/')]
len(processed_files)

8666

In [59]:
to_process = []
all_files = list(audio_info_df['yid'].values)
for f in  all_files :
    if f not in processed_files:
        to_process.append(f)

len(to_process)

1481

In [60]:
# TESTING
##for i in range (0,2):
##    tempogram(audio_info_df['yid'].values[i])
##    i=i+1

In [61]:
import multiprocessing as mp
import numpy as np

mp.cpu_count()
with mp.Pool(2) as pool:
    pool.map(tempogram, to_process[:2000])
    #pool.map(tempogram, audio_info_df['yid'].values)

/Users/Amulya/.local/lib/python3.6/site-packages/scipy/fftpack/basic.py:160: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  z[index] = x
/Users/Amulya/.local/lib/python3.6/site-packages/scipy/fftpack/basic.py:160: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  z[index] = x

In [83]:
def get_tempo_beat_times(audio_file_name):
    fpath = Path(str(audio_path) + '/' + audio_file_name+'.wav')
    samples, sample_rate = librosa.load(fpath)
    tempo, beat_times = librosa.beat.beat_track(samples, sr=sample_rate, units='time')
    mean_beat_times = np.ediff1d(beat_times).mean()
    audio_info_df = audio_info_df.append({'tempo':tempo, 'mean_beat_times':mean_beat_times},ignore_index=True)
    
    
    
    #return tempo, beat_times

In [ ]:
# did not complete yet
#for i in range (0,5):
    #tempo, beat_times = get_tempo_beat_times(audio_info_df['yid'].values[i])
    #i=i+1